{% extends 'base.html.twig' %}

{% block title %}ModelDocument index{% endblock %}


{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

<div class="mb-2">
    <div class="d-flex">
        <a href="{{ path('model_document_index') }}" class="btn btn-outline-primary">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-return-left" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M5.854 5.646a.5.5 0 0 1 0 .708L3.207 9l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z">
                </path>
                <path fill-rule="evenodd"
                    d="M13.5 2.5a.5.5 0 0 1 .5.5v4a2.5 2.5 0 0 1-2.5 2.5H3a.5.5 0 0 1 0-1h8.5A1.5 1.5 0 0 0 13 7V3a.5.5 0 0 1 .5-.5z">
                </path>
            </svg>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            {% include "model_document/_form.html.twig" with {'columns': columns}  %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>

      $(document).ready(function(){
          $("#infoSelect").on("change", function (event) {
              //alert( $(this).val());
              event.preventDefault();
              setcontent($(this).val());
          });
          
    function setcontent(element) {
        var myElement = CKEDITOR.dom.element.createFromHtml(element);
        CKEDITOR.instances.model_document_content.insertHtml(element);
      //  CKEDITOR.instances.model_document_content.insertHtml(myElement.$.outerHTML);
    }
    });

</script>
{% endblock %}