{% extends 'base.html.twig' %}

{% block title %}ModelDocument index{% endblock %}


{% block body %}
<style>
    .card {
        margin-bottom: 0px;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            {% include "model_document/_form.html.twig" with {'columns': columns}  %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        $("#infoSelect").on("change", function (event) {
            event.preventDefault();
            setcontent($(this).val());
        });

        function setcontent(element) {
            var myElement = CKEDITOR.dom.element.createFromHtml(element);
            CKEDITOR.instances.model_document_content.insertHtml(element);
            //  CKEDITOR.instances.model_document_content.insertHtml(myElement.$.outerHTML);
        }
    });
</script>
{% endblock %}